/* import font-family */
@font-face {
    font-family: "NicoMoji-Regular";
    src: url("/assets/fonts/NicoMoji-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* header */
.header {
    position: absolute;
    color: #fff;
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
/* logo */
#logo {
    font-family: "NicoMoji-Regular";
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 15px;
}

#logo h2 {
    color: #fff;
}

#logo__job {
    font-size: 0.7em;
}

/* nav bar */
#nav {
    display: flex;
    gap: 30px;
    margin-right: 15px;
}

.nav__link {
    color: #fff;
    font-family: "NicoMoji-Regular";
    direction: 0.3s;
    font-size: 1em;
}

/* Hover solid link */
.nav__link-solid h3 {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.nav__link-solid h3:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.nav__link-solid h3:hover:after {
    width: 100%;
}

.nav__link_active h3:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    transition: width .3s ease-in-out;
}

/* burger nav */
#burger-nav {
    display: none;
    margin-right: 15px;
}
#burger-nav span{
    display: block;
    border-bottom: 2px #fff solid;
    width: 30px;
}

/* media 1000px */
@media (max-width: 1000px){

    #nav {
        display: none;
    }

    #burger-nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

}
