#portfolio {
    /* display: none; */
    position: absolute;
    top: -100%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 75%;
    transition: 0.8s;
}
#portfolio__title {
    font-family: 'PT Mono', monospace;
    line-height: 2em;
    cursor: pointer;
    font-size: 1.5em;
}
.slider {
    display: flex;
    position: relative;
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-arrow {
    position: absolute;
    top: 100%;
    z-index: 10;
    font-size: 0;
    width: 50px;
    cursor: pointer;
    border: 0;
    height: 50px;
}
.slider .slick-arrow.slick-prev {
    left: 2%;
    background: url(../assets/svg/CircledUpLeft.svg) 0 0 / 100% no-repeat;
    transform: rotate(-135deg);
}
.slider .slick-arrow.slick-next {
    right: 2%;
    background: url(../assets/svg/CircledUpLeft.svg) 0 0 / 100% no-repeat;
    transform: rotate(45deg);
}
.slider img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 1000px){
}