#skills {
    /* display: none; */
    position: absolute;
    top: -100%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 75%;
    transition: 0.8s;
    font-family: 'PT Mono', monospace;
}
#skills-title {
    line-height: 2em;
    margin-bottom: 24px;
    font-size: 30px;
}
#skills-container {
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    display: flex;
    max-width: 900px;
    overflow: scroll;
    height: 300px;
}
.skill-st {
    justify-self: flex-start;
    position: relative;
    cursor: pointer;
}
.skill {
    position: relative;
    cursor: pointer;
}

.skill img,
.skill-st img {
    width: 200px;
    height: 200px;
}

.img-title {
    color: #fff;
    width: 150px;
    height: 0px;
    position: absolute;
    right: 20px;
    border-radius: 10px;
    opacity: 0.9;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

@media (hover: hover) {

    .github:hover .github-info {
        background-color: #455A64;
        height: 40px;
    }
    .sass:hover .sass-info {
        background-color: #F06292;
        height: 40px;
    }
    .javascript:hover .js-info {
        background-color: #FFD600;
        height: 40px;
    }
    .css:hover .css-info {
        background-color: #0277BD;
        height: 40px;
    }
    .html:hover .html-info {
        background-color: #FF6D00;
        height: 40px;
    }
    .figma:hover .figma-info {
        background-color: #66BB6A;
        height: 40px;
    }
    .vs-code:hover .vs-info {
        background-color: #29B6F6;
        height: 40px;
    }
    .bootstrap:hover .bootstrap-info {
        background-color: #673AB7;
        height: 40px;
    }
    .react:hover .react-info {
        background-color: #80DEEA;
        height: 40px;
    }
    .git:hover .git-info {
        background-color: #F4511E;
        height: 40px;
    }
    .docker:hover .docker-info {
        background-color: #0288D1;
        height: 40px;
    }
    .webpack:hover .webpack-info {
        background-color: #81D4FA;
        height: 40px;
    }
}